.footer {
    position: relative;
    padding: 6em 2em 2em;
    // margin-top: 6em;
    color: var(--text-light);
    background: var(--main-bg);
    overflow: hidden;
}

.footer-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg,
            transparent,
            transparent,
            rgba(0, 0, 0, 0.3));
    z-index: 0;
}

.footer-container {
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 3em;
    align-items: start;
    max-width: 1400px;
    margin: auto;
}

.footer h4 {
    margin-bottom: 1em;
    color: var(--golden-glow);
}

/* BRAND */
.footer-brand h2 {
    font-family: "exbed";
    font-size: 2rem;
    // margin-bottom: .5em;
}

.footer-brand p {
    max-width: 300px;
    line-height: 1.6;
    opacity: .85;
}

/* LINKS */
.footer-links,
.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.footer-links a {
    text-decoration: none;
    color: var(--text2);
    // opacity: .7;
    transition: .4s ease;
}

.footer-links a:hover {
    opacity: 1;
    letter-spacing: 1px;
    color: var(--golden-glow);
}

/* CONTACT */
.footer-contact i {
    color: var(--golden-glow);
    margin-right: 8px;
}

/* ORB */
.footer-orb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

    box-shadow:
        0 0 25px rgba(255, 215, 150, .4),
        inset 0 0 15px rgba(255, 255, 255, .2);

    animation: footerFloat 6s ease-in-out infinite;
    justify-self: end;
}

/* BOTTOM BAR */
.footer-bottom {
    text-align: center;
    margin-top: 4em;
    opacity: .6;
    font-size: .8em;
}

/* ANIMATION */
@keyframes footerFloat {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-8px)
    }

    100% {
        transform: translateY(0)
    }
}

/* ✅ MOBILE */
@media(max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2em;
    }

    .footer-brand p {
        margin: auto;
    }

    .footer-orb {
        margin: auto;
    }
}

/* ✅ TABLET */
@media (min-width: 601px) and (max-width: 1024px) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }

    .footer-brand {
        grid-column: 1 / -1;
    }

    .footer-orb {
        justify-self: start;
    }
}