.const {
    width: 100%;
    height: 100vh;
    background: var(--main-bg);
    padding-top: 30vh;
    padding-inline: 3em;

    .left {
        display: flex;
        flex-direction: column;
        color: var(--text-light);
        width: 40%;
        padding: 10px;
        position: relative;

        span {
            color: red;
        }

        h1 {
            padding-bottom: .5em;
            font-size: 4em;

            span {

                color: var(--golden-glow);
            }
        }

        p {
            padding-bottom: 1em;
        }

        .cta {
            position: absolute;
            top: 100%;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        color: var(--text-light);
        width: 30%;
        float: right;
        padding: 10px;
        margin-top: -30vh;
        // text-align: right;
    }
}


@media (max-width: 600px) {
    .const {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: 10vh;

        .left {
            width: 100%;
            h1{
                font-size: 2em;
            }
        }

        .right {
            display: none;
        }
    }
}

@media (min-width:600px) and (max-width:1020px) {
    .const {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50vh;
        padding-block: 20vh;
        .left {
            width: 100%;
        }
        .right{
            display: none;
        }
    }
}