* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* shared styles */
.cta {
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 10px;
  background-color: var(--cta-bg);
  color: var(--text);
  transition: 0.3s ease;
  cursor: pointer;
  filter: drop-shadow(3px 2px 1px var(--golden-glow));

  &:hover {
    transform: scale(1.02);
  }
}
.cta2 {
  padding-block: 10px;
  padding-inline: 10px;
  border-radius: 10px;
  color: var(--text-light);
  transition: 0.3s ease;
  cursor: pointer;
  border: solid 1px var(--golden-glow);
}
.noise{
  position: relative;
  &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('https://images.pexels.com/photos/978487/pexels-photo-978487.jpeg');
        pointer-events: none;
        opacity: .03;
        background-size: cover;
    }
}
.a{
  color: var(--text);
  text-decoration: none;
}

:root {
  --nav-bg-color: transparent;
  --text: #1f1f1f;
  --text-light: #ffff;
  --text-hover: #4b4a4a;
  --text-hover-light: #d8d8d8;
  --hero-bg: radial-gradient(circle at top, #0a2342, #08172f, #050b1f, #020617);
  /* --hero-bg: url("https://cdn.pixabay.com/photo/2017/03/27/14/31/stars-2179083_1280.jpg"); */
  --main-bg: radial-gradient(circle, #0a2342, #08172f, #050b1f, #020617);
  /* --main-bg: url('https://cdn.pixabay.com/photo/2017/03/27/14/31/stars-2179083_1280.jpg'); */
  --font-fam: "exbed";


  --cta-bg: #ffc671;
  --cta-bg-hover: #d4af37;




  --secondary-bg: #cad2d3; /*0r#F2F2F4 #efece7 for more silvery color*/
   --accent-bg: radial-gradient(
    circle at top left,
    #f5f4f9 0%,    /* soft off-white */
    #e2e0f0 40%,   /* pale lavender/gray tint */
    #c7c4d9 70%,   /* subtle muted periwinkle */
    #a8a6c0 100%   /* gentle grayish blue */
  );
  --secondary-bg: radial-gradient(
  circle at top,
  #2b2a3a 0%,
  #3c3b5a 50%,
  #4e4d78 100%
);

  --image-highlight: #ffc671;
  --golden-glow: #d4af37;
  --silver-glow: #c0c0c0;
  --icons: #ffc671;
  --shadow: #12122b;
}

/* git add .
git commit -m "Fixed the animations"
git push origin main */
